pyrogram
tgcrypto
pymongo
motor
marshmallow
umongo
requests
bs4
imdbpy
heroku3
datetime
telegraph
youtube-search-python
youtube-search
yt-dlp
aiofiles
speedtest
python-dotenv
opencv-python-headless
humanize
Pillow
pyshorteners
psutil
NumPy
wheel
ujson
wget
pytz
aiohttp
aiohttp
gunicorn
flask
